body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
}

.ui-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.ui-control-row {
    display: flex;
}

#canvasContainer {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.image-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.image-drop-area span {
    display: block;
    color: #666;
}

.highlight {
    background-color: lightgray;
}

#postproc-area {
    visibility: hidden;
}

#image-upload {
    display: none;
}

#log-container {
    height: 48px;
    max-height: 48px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 0px;
    font-family: monospace;
}

.log-entry {
    white-space: pre-wrap;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.btn {
    position: relative;
  
    display: block;
    padding: 0;
    flex: 1;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #3aaba6;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

  .labeled-slider {
    flex: 1;
    display: flex;
  }

  .labeled-slider input {
    flex: 1
  }

  .select-dropdown {
    flex: 1
  }