body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
}

#log-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
}

.log-entry {
    white-space: pre-wrap;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.ui-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 800px;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    z-index: 0;
}

.image-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.image-drop-area span {
    display: block;
    color: #666;
}

.highlight {
    background-color: lightgray;
}

#postproc-area {
    visibility: hidden;
}

#image-upload {
    display: none;
}